
.sub-gnb {
    display: flex;
    height: 60px;
    outline: 1px solid #d3d1d1;
    align-items: center;
      /* color: #d4af37; */
    
  }
  .sub-gnb-name {
    font-weight: bold;
    font-size: 18px;
    margin: 0 140px 0 40px;
  }
  .sub-gnb-list {
    display: flex;
    list-style: none;
  }
  .sub-gnb-list li {
    margin: 0 20px 0 20px;
  }
  .sub-gnb-list li a {
    font-size: 16px;
    text-decoration: none;
  }
  /* =========================================== */
  .accName {
    margin: 50px 0 50px 0;
    font-size: 30px;
    font-weight: bold;
  }
  .information {
    outline: 1px solid #b1afaf;
    display: flex;
    margin-bottom: 30px;
  }
  .left-information {
  }
  .left-information img {
    width: 650px;
  }
  .right-information {
    padding: 70px;
    width: 550px;
  }
  .name {
    font-size: 30px;
    font-weight: bold;
  }
  .sub-information {
    font-size: 14px;
    color: #888;
    margin: 20px 0 20px 0;
  }
  .sub-bottom p {
    font-size: 14px;
    display: inline;
    color: black;
    font-weight: bold;
  }
  .sub-bottom {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
  }
